@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

body {
	margin: 0;
	font-family: "Didact Gothic", "Roboto", "Oxygen", "Ubuntu", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
